<!DOCTYPE html>
<html>
 
<head>
    <title>Matkaklubi - Uudised</title>
    <link rel="stylesheet" href="/stylesheets/treks.css">
    <%- include ("../partials/header.ejs") %>

</head>
 
<body>
 
<div class="container-fluid pais-sektsioon">
        <%- include ("../partials/nav.ejs") %> 

            <div class="uudised">

                       <% for(let i=0; i < uudised.length; i++) { %>
                    <div class="uudis">
                        <div class="uudise-pealkiri">
                            <%= uudised[i].title %></div>
                                
                        <div class="uudise-aeg">
                            <%= uudised[i].date %></div>
                                
                        <div class="uudise-autor">
                            <%= uudised[i].author %></div>
                                     
                        <div class="uudise-kirjeldus">
                            <%= uudised[i].description %>
                                
                        <div class="uudise-pilt">
                            <img src="<%= uudised[i].imageUrl %>" width="350" height="250">
                                </div>
                                
                    <a href=<%=`uudis/${uudised[i].id}`%> <div class="matka-nupp">Vaata lähemalt</a>       </div>
                        </div>
                    <% } %>
             
                </div>
           

<%- include ("../partials/nav-all.ejs") %>

</body>
 
</html>
