<!DOCTYPE html>
<html>
 
<head>
    <title>Matkaklubi - Uudised</title>
    <link rel="stylesheet" href="/stylesheets/trek.css">
    <%- include ("../partials/header.ejs") %>

</head>
 
<body>
 
    <div class="container-fluid pais-sektsioon">
        <%- include ("../partials/nav.ejs") %> 


                  <div class="uudised">
                            <div class="uudis">
                        <div class="uudise-pealkiri">
                            <%= uudised.title %>
                        </div>
                        <div class="uudise-aeg">
                                    <%= uudised.date %>
                                </div>
                        <div class="uudise-autor">
                                    <%= uudised.author %>
                                </div>      
                        <div class="uudise-kirjeldus">
                            <%= uudised.description %>
                        </div>
            <div class="uudise-pilt">
                                <img src="<%= uudised.imageUrl %>" >

                   
                            </div>
   
                            
             
            </div>
            <%- include ("../partials/nav-all.ejs") %>
                </div>
               
          </div>
    
</body>
 
</html>
